<%- include("partials/header.ejs") %>

<div class="container mt-5">
    <form action="/" method="POST">
        <div class="card ">
            <label for="contact">Enter your contact</label>
            <div class="card-body">
                <input class="form-control" id="contact" name="contact" placeholder="Enter your mobile"></input>
              <button type="submit" class="btn btn-primary mt-2">Send Message</button>
            </div>
        </div>
    </form>
    
    

</div>


<%- include("partials/footer.ejs") %>